<!-- Statewise cases table -->
<div class="sub-section">
    <p class="heading mt-4">India | States summary</p>
    <div class="container-table pb-4">
        <div class="scroll">
            <table id="table" class="table table-borderless table-hover">
                <thead>
                    <tr class="myHeader navbar-fixed-top">
                        <th scope="col">Name</th>
                        <th scope="col">Confirmed</th>
                        <th scope="col">Active</th>
                        <th scope="col">Recovered</th>
                        <th scope="col">Deceased</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>