<!-- India cases bars -->
<div class="middle-section container-fluid" id="middle">

    <div class="sub-section pb-3">
        <p class="heading">India | Key Insights</p>
        <p class="secondary-text timestamp"></p>
        <div class="d-flex justify-content-around mb-3">
            <div class="card border-danger ml-4">
                <div class="card-body text-danger">
                    <p class="card-title">Confirmed</p>
                    <p class="confirmed cardText"></p>
                    <span class="deltaConfirmed deltaText">&uarr;</span>
                </div>
            </div>
            <div class="card border-info">
                <div class="card-body text-info">
                    <p class="card-title">Active</p> 
                    <p class="active cardText"></p>
                    <span class="activePer deltaText"></span>
                </div>
            </div>
            <div class="card border-success">
                <div class="card-body text-success">
                    <p class="card-title">Recovered</p>
                    <p class="recovered cardText"></p>
                    <span class="recoveredPer deltaText"></span>
                </div>
            </div>
            <div class="card border-secondary">
                <div class="card-body text-secondary">
                    <p class="card-title">Deceased</p>
                    <p class="deceased cardText"></p>
                    <span class="deceasedPer deltaText"></span>
                </div>
            </div>
            <div class="card border-warning">
                <div class="card-body text-warning">
                    <p class="card-title">Tests</p>
                    <p class="test cardText"></p>
                    <span class="deltaTest deltaText">&uarr;</span>
                </div>
            </div>
        </div>
    </div>